name: Playwright Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    strategy:
      matrix:
        env_name: [test, acceptance]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        id: run_tests
        run: |
          npx playwright test
          echo "TEST_EXIT_CODE=$?" >> $GITHUB_ENV
        env:
          test_env: ${{ matrix.env_name }}

      - name: Generate Allure HTML Report
        run: npx allure generate allure-results --clean -o allure-report

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./allure-report

      - name: Slack Notification
        if: always()
        env:
          ENV_NAME: ${{ matrix.env_name }}
          EXIT_CODE: ${{ env.TEST_EXIT_CODE }}
          REPORT_URL: https://${{ github.repository_owner }}.github.io/${{ github.repository }}/
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        run: |
          if [ "$EXIT_CODE" -eq 0 ]; then STAT=":white_check_mark: Tests Passed"; else STAT=":x: Tests Failed"; fi
          curl -X POST -H "Content-type: application/json" \
            -H "Authorization: Bearer $SLACK_BOT_TOKEN" \
            --data "{
              \"channel\":\"#automation-testresults\",
              \"blocks\": [
                {\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"${STAT}\\n*Environment:* ${ENV_NAME}\"}},
                {\"type\":\"section\",\"fields\":[
                    {\"type\":\"mrkdwn\",\"text\":\"*Repository:*\\n${GITHUB_REPOSITORY}\"},
                    {\"type\":\"mrkdwn\",\"text\":\"*Branch:*\\n${GITHUB_REF_NAME}\"},
                    {\"type\":\"mrkdwn\",\"text\":\"*Triggered by:*\\n${GITHUB_ACTOR}\"},
                    {\"type\":\"mrkdwn\",\"text\":\"*Commit:*\\n${GITHUB_SHA}\"}
                ]},
                {\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\":page_facing_up: View Allure report: <${REPORT_URL}|Click Here>\\n:link: View Workflow: <https://github.com/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}|View Workflow>\"}}
              ]
            }" \
            https://slack.com/api/chat.postMessage

      - name: Fail job if tests failed
        if: env.TEST_EXIT_CODE != '0'
        run: exit 1

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
