name: Playwright Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

permissions:
  contents: write   # gives push rights for deployment

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    strategy:
      matrix:
        env_name: [test, acceptance]

    steps:

      - uses: actions/checkout@v4


      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # Run tests
      - name: Run Playwright tests
        id: run_tests
        run: |
          npx playwright test
          echo "TEST_EXIT_CODE=$?" >> $GITHUB_ENV
        env:
          test_env: ${{ matrix.env_name }}

      # Generate Allure HTML
      - name: Generate Allure HTML Report
        run: npx allure generate allure-results --clean -o allure-report

      # Publish report to GitHub Pages
      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com

      # Slack notification
      - name: Slack Notification
        env:
          ENV_NAME: ${{ matrix.env_name }}
          EXIT_CODE: ${{ env.TEST_EXIT_CODE }}
          REPORT_URL: https://${{ github.repository_owner }}.github.io/${{ github.repository }}/
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        run: |
          if [ "$EXIT_CODE" -eq 0 ]; then STAT=":white_check_mark: Tests Passed"; else STAT=":x: Tests Failed"; fi
          curl -X POST -H "Content-type: application/json" \
            -H "Authorization: Bearer $SLACK_BOT_TOKEN" \
            --data "{
              \"channel\":\"#automation-testresults\",
              \"blocks\": [
                {\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"${STAT}\\n*Environment:* ${ENV_NAME}\"}},
                {\"type\":\"section\",\"fields\":[
                    {\"type\":\"mrkdwn\",\"text\":\"*Repository:*\\n${GITHUB_REPOSITORY}\"},
                    {\"type\":\"mrkdwn\",\"text\":\"*Branch:*\\n${GITHUB_REF_NAME}\"},
                    {\"type\":\"mrkdwn\",\"text\":\"*Triggered by:*\\n${GITHUB_ACTOR}\"},
                    {\"type\":\"mrkdwn\",\"text\":\"*Commit:*\\n${GITHUB_SHA}\"}
                ]},
                {\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\":page_facing_up: View Allure report: <${REPORT_URL}|Click Here>\\n:link: View Workflow: <https://github.com/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}|View Workflow>\"}}
              ]
            }" \
            https://slack.com/api/chat.postMessage

      # Fail job if necessary
      - name: Fail job if tests failed
        if: env.TEST_EXIT_CODE != '0'
        run: exit 1
